.headerInner{
    background: linear-gradient(to top, #b2fefa, #0ed2f7);
    height: 50px;
    text-align: center;
    margin: auto;
    position: relative;
}
form{
    width: 100%;
    margin: 0 auto 20px;
    border-spacing: 0;
}

form div{
    padding: 2rem 0;
    border-bottom: 1px solid #e1e1e1;
}

.btn{
}