.headerInner{
    background:linear-gradient(to top, #b2fefa, #0ed2f7);
    margin: auto;
    display: flex;
    position: relative;
}
form{
    width: 100%;
    margin: 0 auto 20px;
    border-spacing: 0;
}

div{
    padding: 2rem 0;
    border-bottom:solid #e1e1e1;
}

h2{
    border-left:double 10px lightseagreen;
    border-bottom: solid lightseagreen;
}
